<!-- <nav class="navbar navbar-expand-xl navbar-dark bg-primary">
  <a class="navbar-brand text-danger">Online Parking Application</a> 
  <h2 class="uk-text-bold text-uppercase" style="text-align: center; font-family:Poppins-Regular">
    Welcome to Online Parking Application</h2>
</nav> -->

<nav class="navbar navbar-default navbar-expand-sm bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Online Parking Based Application</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li  routeLinkActive="active current">
          <a routerLink="/" class="header" style="margin-left: 40%" (click)="onSelect('Home')">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li  routeLinkActive="active current">
          <a href="#" class="header" (click)="onSelect('Login')">Login</a>
        </li>
        <li  routeLinkActive="active current">
          <a href="#" style="font-size: 18px;" (click)="onSelect('Register')">Register</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle header" role="button">
            User Information 
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">user</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Upcoming Parking</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>