<div class="container-fluid bg-dark" style="margin-top: 5px">
    <div class="row">
      <div class="col-md-1">
        <div class="footer"></div>
      </div>
      <div class="col-md-2">
        <div class="footer">
          <!-- 1st div -->
          <h5 class="h5 text-info">Featured Cities</h5>
          <a href="">Bangalore Parking</a><br>
          <a href="">Delhi Parking</a><br>
          <a href="">Indore Parking</a><br>
          <a href="">Mumbai Parking</a><br>
          <a href="">Noida Parking</a><br>
          <a href="">Gurugram Parking</a><br>
          <a href="">Hydearbad Parking</a><br>
          <a href="">Chennai Parking</a><br>
          <a href="">Railway Station Parking</a><br>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer">
          <!--  2nd div -->
          <h5 class="h5 text-info">Work With us</h5>
          <a href="">Solution</a><br>
          <a href="">Parking Owners</a><br>
          <a href="">Venue Owners</a><br>
          <a href="">Products</a><br>
          <a href="">Parking Apps</a><br>
          <a href="">Gift Cards</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer">
          <!-- 3rd div -->
          <h5 class="h5 text-info">Company</h5>
          <a href="">About Us</a><br>
          <a href="">Team</a><br>
          <!-- <a href="">Jobs</a><br> -->
          <a href="">Press</a><br>
          <a href="">Blog</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer">
          <!-- 4th div -->
          <h5 class="h5 text-info">Support</h5>
          <a href="">FAQ</a><br>
          <a href="">Contact Us</a><br>
          <a href="">How it works</a><br>
          <a href=""> Terms And Conditions</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer">
          <!-- 5th div -->
          <h5 class="h5 text-info">Connect with us</h5>
          <address>
            <strong>ParkingOnline.Inc</strong><br>
            support@parkingOnline.com <br>
            CDAC Knowledge Park<br>
            Old Madras Road <br>
            Baiyappanhalli <br>
            Bangalore 560038 <br>
            Daily 9am-6pm <br>
            <Abbr title="Phone">P:</Abbr>(123) 456-7890
          </address>
        </div>
      </div>
      <div class="col-md-1">
        <div class="footer"></div>
      </div>
    </div>
</div>