<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/imges/search.png" alt="" class="center" style="margin-left: 120px;">
      <h4 class="text-center">Search</h4>
      <p class="text-center">
        Search and compare all available parking options and prices at thousands of parking lots</p>
    </div>
    <div class="col-md-4">
      <img src="assets/imges/location4.png" alt="" class="img-responsive" style="margin-left: 120px;">
      <h4 class="text-center">Book</h4>
      <p class="text-center">
        Pre-purchase the perfect spot and have a guaranteed space waiting for you when you need it.
      </p>
    </div>
    <div class="col-md-4">
      <img src="assets/imges/Parking1.png" alt="" class="rounded-circle" style="margin-left: 120px;">
      <h4 class="text-center">Park Happy</h4>
      <p class="text-center">
        Redeem your purchase seamlessly at your selected location! It’s that easy. Save time and money with hassle-free
        parking.
      </p>
    </div>
  </div>
</div>