a {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 1.7;
    color: #5ed818b2;
    margin: 5px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #696e68;
}
button{
    margin:5px;
    height: 25px;
    text-align: center;
    font-family: Poppins-Regular;
}
.form-inline{
    float: right;
}
input{
  margin-top: 2px;
  height: 25px;
  width: 250px;
  font-family: Poppins-Regular;
}