<div class="container-fluid" style="margin-top: 5px;">
  <div class="row">
    <div class="col-md-3">
      <!--   <div>{{parkingElement.parking_name}}</div> -->
      <div (searchInput)="getAddress($event)">{{addressIs}}</div>
      <form>
        <h4>Date</h4>
        <div class="row" *ngIf="dateChange">
          <div class="col-md-12">
            <label for="Date">From:</label>
            <input type="date" name="date" #date id="date" class="form-control">
          </div>
        </div>
        <div *ngIf="!dateChange">
          <a style="cursor: pointer; color: black" (click)="changeDateRequest()">
            {{currentDate |date: 'yyyy-MM-dd'}}
          </a>
          <!-- <span>"Click on the date to change the date"</span> -->
        </div><br>
        <h4>Time</h4>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="time">From:</label>
            <input type="time" name="time" #fromTime id="time" class="form-control">
          </div>
          <div class="col-md-6 form-group">
            <label for="time">To:</label>
            <input ngModel type="time" name="time" #toTime id="time" class="form-control">
          </div>
        </div>
        <button class="btn btn-primary" (click)="bookpark(date,fromTime,toTime)" type="submit">
          Submit</button>
      </form>
    </div>
    <div class="col-md-9">
      <div *ngIf="bookPark; else fullParking">
        <app-parkingplace *ngFor="let booki of book" [bookingOut]="booki"></app-parkingplace>
      </div>
      <ng-template #fullParking>
        <h4 style="display: none">Currently Parking Not Available</h4>
      </ng-template>
    </div>
  </div>
</div>