<h1 class="text-center bg-dark text-success">Parking Space</h1>


<div class="container">
  <div class="row">
    <div class="col-md-5 pads">
      <p class="text-center text-uppercase">Parking Slot A</p>
      <div class="col">
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
      </div>
      <div class="col">
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
      </div>
    </div>

    <div class="col-md-4 pads">
      <p class="text-center text-uppercase">Parking Slot B</p>
      <div class="col">
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA1">
          <div class="slider rounded"></div>
        </label>
      </div>
      <div class="col">
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
        <label for="" class="switch">
          <input type="checkbox" id="cbA2">
          <div class="slider rounded"></div>
        </label>
      </div>
    </div>
  </div>
</div>


<!-- Start Second row -->

<div class="container">
    <div class="row">
      <div class="col-md-3 pads">
        <p class="text-center text-uppercase">Parking Slot C</p>
        <div class="col">
          <label for="" class="switch1">
            <input type="checkbox" id="cbA1">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
            <input type="checkbox" id="cbA1">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
        </div>
        <div class="col">
          <label for="" class="switch1">
            <input type="checkbox" id="cbA2">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
            <input type="checkbox" id="cbA2">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
        </div>
      </div>
  
      <div class="col-md-3 pads">
        <p class="text-center text-uppercase">Parking Slot D</p>
        <div class="col">
          <label for="" class="switch1">
            <input type="checkbox" id="cbA1">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
            <input type="checkbox" id="cbA1">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
        </div>
        <div class="col">
          <label for="" class="switch1">
            <input type="checkbox" id="cbA2">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
            <input type="checkbox" id="cbA2">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
        </div>
      </div>
  
      <div class="col-md-3 pads">
        <p class="text-center text-uppercase">Parking Slot E</p>
        <div class="col">
          <label for="" class="switch1">
            <input type="checkbox" id="cbA1">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
            <input type="checkbox" id="cbA1">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
        </div>
        <div class="col">
          <label for="" class="switch1">
            <input type="checkbox" id="cbA2">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
            <input type="checkbox" id="cbA2">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
        </div>
      </div>
  
      <div class="col-md-3 pads">
        <p class="text-center text-uppercase">Parking Slot F</p>
        <div class="col">
          <label for="" class="switch1">
            <input type="checkbox" id="cbj1a">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
            <input type="checkbox" id="cbj1b">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
              <input type="checkbox" id="cbj1c">
              <div class="slider rounded"></div>
            </label>
        </div>
        <div class="col">
          <label for="" class="switch1">
            <input type="checkbox" id="cbj2a">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
            <input type="checkbox" id="cbj2b">
            <div class="slider rounded"></div>
          </label>
          <label for="" class="switch1">
              <input type="checkbox" id="cbj2c">
              <div class="slider rounded"></div>
            </label>
        </div>
      </div>
    </div>
  </div>

  <!-- start third row -->
  <div class="container">
      <div class="row">
        <div class="col-md-6 pads">
          <p class="text-center text-uppercase">Parking Slot G</p>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbA1">
                <div class="slider rounded"></div>
              </label>
          </div>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbA2">
                <div class="slider rounded"></div>
              </label>
          </div>
        </div>
    
        <div class="col-md-6 pads">
          <p class="text-center text-uppercase">Parking Slot H</p>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbA1">
                <div class="slider rounded"></div>
              </label>
          </div>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbA2">
                <div class="slider rounded"></div>
              </label>
          </div>
        </div>
      </div>
    </div>


  <!-- Fourth Row -->
  <div class="container">
      <div class="row">
        <div class="col-md-3 pads">
          <p class="text-center text-uppercase">Parking Slot I</p>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbA1">
                <div class="slider rounded"></div>
              </label>
          </div>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbA2">
                <div class="slider rounded"></div>
              </label>
          </div>
        </div>
    
        <div class="col-md-3 pads">
          <p class="text-center text-uppercase">Parking Slot J</p>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbA1">
                <div class="slider rounded"></div>
              </label>
          </div>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbA2">
                <div class="slider rounded"></div>
              </label>
          </div>
        </div>
    
        <div class="col-md-3 pads">
          <p class="text-center text-uppercase">Parking Slot K</p>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA1">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbA1">
                <div class="slider rounded"></div>
              </label>
          </div>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbA2">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbA2">
                <div class="slider rounded"></div>
              </label>
          </div>
        </div>
    
        <div class="col-md-3 pads">
          <p class="text-center text-uppercase">Parking Slot L</p>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbj1a">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbj1b">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbj1c">
                <div class="slider rounded"></div>
              </label>
          </div>
          <div class="col">
            <label for="" class="switch1">
              <input type="checkbox" id="cbj2a">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
              <input type="checkbox" id="cbj2b">
              <div class="slider rounded"></div>
            </label>
            <label for="" class="switch1">
                <input type="checkbox" id="cbj2c">
                <div class="slider rounded"></div>
              </label>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success" type="submit" >Submit</button>