<h3 style="margin-top: 100px">Find And Reserve Parking</h3>
<h5>Purchase Guranteed Parking in most of Metropolitian cities</h5>
<form class="form-inline " action="/action_page.php">
  <input class="form-control" type="text" id="loc" style="width: 80%" name="loc" [(ngModel)]="searchInput"
    (keyup)="onKeyPress($event)" placeholder="Where Do you need Parking" />
  <div *ngIf="searchInputEntered">
    <button class="btn btn-primary rounded-0" type="submit" (click)="getParking(searchInput)">Search</button>
  </div>
  <div *ngIf="values && !searchInputSelected" style="width: 80%">
        <app-search-result 
        *ngFor="let i of values" 
        [finalVar]="i" 
        (selectAddress)="onselect(i)">
      </app-search-result>
    </div>
</form>

