<h1 class="text-center bg-dark text-success">Parking Space</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3 pads">
      <p class="text-center text-uppercase">Parking Slot A</p>
      <div cltest1ass="col">
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
            
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
          
      </div>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
      </div>
    </div>

    <div class="col-md-3 pads">
      <p class="text-center text-uppercase">Parking Slot B</p>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
      </div>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
      </div>
    </div>

    <div class="col-md-3 pads">
      <p class="text-center text-uppercase">Parking Slot C</p>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
      </div>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
      </div>
    </div>

    <div class="col-md-3 pads">
      <p class="text-center text-uppercase">Parking Slot D</p>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
      </div>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
      </div>
    </div>
  </div>
</div>

<!-- Second Row Start -->
<div class="container">
  <div class="row">
    <div class="col-md-6 pads">
      <p class="text-center text-uppercase">Parking Slot E</p>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
      </div>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
      </div>
    </div>

    <div class="col-md-6 pads">
      <p class="text-center text-uppercase">Parking Slot F</p>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
      </div>
      <div class="col">
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
        </label>
        <label for="" class="switch">
            <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
      </div>
    </div>
  </div>
</div>

<!-- Start third row -->

<div class="container">
    <div class="row">
      <div class="col-md-3 pads">
        <p class="text-center text-uppercase">Parking Slot G</p>
        <div class="col">
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
            </label>
        </div>
        <div class="col">
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
            </label>
        </div>
      </div>
  
      <div class="col-md-3 pads">
        <p class="text-center text-uppercase">Parking Slot H</p>
        <div class="col">
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
            </label>
        </div>
        <div class="col">
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
            </label>
        </div>
      </div>
  
      <div class="col-md-3 pads">
        <p class="text-center text-uppercase">Parking Slot I</p>
        <div class="col">
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
            </label>
        </div>
        <div class="col">
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
            </label>
        </div>
      </div>
  
      <div class="col-md-3 pads">
        <p class="text-center text-uppercase">Parking Slot J</p>
        <div class="col">
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
            </label>
        </div>
        <div class="col">
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test1" (click) = "myClickFunction($event)">vacant</button>
          </label>
          <label for="" class="switch">
              <button type="button" class="test2" (click) = "myClickFunction1($event)">filled</button>
            </label>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-success sub" type="submit" routerLink="/bookPark" >Submit</button>
  