<div class="container-fluid">
  <h2 style="margin-top: 5px;">All Cities</h2>
  <p>Online Parking Application Allows you to <em>Find</em>, <em>Reserve</em> and <em>Book</em>
    Parking across all available cities</p>
  <p>Select the City from listed below</p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="">
          <img src="assets/imges/bangalore.jpg" alt="" style="width: 100%;height: 220px;" class="img-thumbnail">
        </a>
        <div class="caption">
          <p class="text-center">Bangalore</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="">
          <img src="assets/imges/Bhopal.png" alt="" style="width: 100%;height: 220px;" class="img-thumbnail">
        </a>
        <div class="caption">
          <p class="text-center">Bhopal</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="">
          <img src="assets/imges/indore2.jpg" alt="" style="width: 100%; height:220px " class="img-thumbnail">
        </a>
        <div class="caption">
          <p class="text-center">Indore</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="">
          <img src="assets/imges/Gatewayofindia.jpg" alt="" style="width: 100%; height:220px " class="img-thumbnail">
        </a>
        <div class="caption">
          <p class="text-center">Mumbai</p>
        </div>
      </div>
    </div>
  </div>
</div>