<app-header></app-header>
<!-- <img src="assets/imges/test.jpg" alt="Italian Trulli">
   <div class="row">
      <div class="col-sm-4"> 
          <img src="assets/imges/test.jpg" alt="Italian Trulli">
      </div>
      <div class="col-sm-4">
        
          <img src="assets/imges/test.jpg" alt="Italian Trulli">
        </div>
      <div class="col-sm-4">
          <img src="assets/imges/test.jpg" alt="Italian Trulli">
      </div>
    </div> 
<div *ngIf="Loginfound; else notLogin">
  <app-login-page></app-login-page>
</div>
<ng-template #notLogin>
  <div class="container-fluid rounded" style="margin-top: 5px">
    <div class="row">
      <div class="col-md-2 bg-light">
        <label for="place"><strong>Enter Location:</strong></label>
        <input class="form-control mr-sm-2" type="text" (keyup)="onKeyPress()" />
        <label for="place"><strong>Enter Date:</strong></label>
        <input class="form-control" type="date" />
        <label for="place"><strong>Enter Time:</strong></label>
        <input class="form-control" type="time" />
        <button class="btn btn-success " type="submit" style="margin-top: 5px" (click)="searchParking()">Search</button>
      </div>
      <div class="col-md-10" *ngIf="found;else notavailable">
        <app-parking-option></app-parking-option>
      </div>
      <ng-template #notavailable>{{showAvailableParking}}</ng-template>
    </div>
  </div>
</ng-template>

<div *ngIf="RegisterFound">
  <app-registration-page></app-registration-page>
</div>

<router-outlet></router-outlet> -->
<div class="container-fluid" style="background-color: gray;height: 400px; margin-top: 5px;">
  <div class="row">
    <!-- <img src="assets/imges/parkinggarage.jpg" alt="img not found" sizes="" srcset=""> -->
    <div class="col-md-3"></div>
    <div class="col-md-6 ">
      <h3 style="margin-top: 100px">Find And Reserve Parking</h3>
      <h5>Purchase Guranteed Parking in most of Metropolitian cities</h5>
      <form class="form-inline " action="/action_page.php">
        <input ngModel class="form-control" type="text" id="loc" style="width: 80%" name="loc" #loc
          (keyup)="onKeyPress($event)" placeholder="Where Do you need Parking" />
        <button class="btn btn-primary rounded-0" type="submit" (click)="getParking()" routerLink="/schedule">Search
        </button>
        <table class="table table-bordered table-striped" style="width: 80%">
          <tbody *ngFor="let i of final">
            <tr>
              <td>
                <a class="searchresult" href="" (click)="selectParking($event)">{{i}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<h2 class="text-center" style="margin-top: 5px">Featured Cities</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <form>
          <a [routerLink]=[] (click)="getcity($event)">
            <img src="assets/imges/bangalore.jpg" alt="" style="width: 100%;height: 220px;" class="img-thumbnail">
            <div class="caption">
              <!-- <input type="text" ngModel name="blr" #bangalore style="border:none"> -->
               <p ngModel name="bangalore" class="text-center" #bangalore>Bangalore</p>
            </div>
          </a>
        </form>
      </div>
      <div class="thumbnail">
        <a routerLink="/parkingOption/:city?=bangalore">
          <img src="assets/imges/bangalore.jpg" alt="" style="width: 100%;height: 220px;" class="img-thumbnail">
          <div class="caption">
            <p class="text-center">Bangalore</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a routerLink="/parkingOption/:city?=Bhopal">
          <img src="assets/imges/Bhopal.png" alt="" style="width: 100%;height: 220px;" class="img-thumbnail">
        </a>
        <div class="caption">
          <p class="text-center">Bhopal</p>
        </div>
      </div>
      <div class="thumbnail">
        <a href="">
          <img src="assets/imges/Bhopal.png" alt="" style="width: 100%;height: 220px;" class="img-thumbnail">
        </a>
        <div class="caption">
          <p class="text-center">Bhopal</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a routerLink="/parkingOption/:city?=Indore">
          <img src="assets/imges/indore2.jpg" alt="" style="width: 100%; height:220px " class="img-thumbnail">
        </a>
        <div class="caption">
          <p class="text-center">Indore</p>
        </div>
      </div>
      <div class="thumbnail">
        <a href="">
          <img src="assets/imges/indore2.jpg" alt="" style="width: 100%; height:220px " class="img-thumbnail">
        </a>
        <div class="caption">
          <p class="text-center">Indore</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a routerLink="/parkingOption/:city?=Mumbai">
          <img src="assets/imges/Gatewayofindia.jpg" alt="" style="width: 100%; height:220px " class="img-thumbnail">
        </a>
        <div class="caption">
          <p class="text-center">Mumbai</p>
        </div>
      </div>
      <div class="thumbnail">
        <a href="">
          <img src="assets/imges/Gatewayofindia.jpg" alt="" style="width: 100%; height:220px " class="img-thumbnail">
        </a>
        <div class="caption">
          <p class="text-center">Mumbai</p>
        </div>
      </div>
    </div>
    <a class="morecity" routerLink="/cities">more city...</a>
  </div>
</div>
<div class="container-fluid" style="margin-top: 5px">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/imges/search.png" alt="" class="center" style="margin-left: 120px;">
      <h4 class="text-center">Search</h4>
      <p class="text-center">
        Search and compare all available parking options and prices at thousands of parking lots</p>
    </div>
    <div class="col-md-4">
      <img src="assets/imges/location4.png" alt="" class="img-responsive" style="margin-left: 120px;">
      <h4 class="text-center">Book</h4>
      <p class="text-center">
        Pre-purchase the perfect spot and have a guaranteed space waiting for you when you need it.
      </p>
    </div>
    <div class="col-md-4">
      <img src="assets/imges/Parking1.png" alt="" class="rounded-circle" style="margin-left: 120px;">
      <h4 class="text-center">Park Happy</h4>
      <p class="text-center">
        Redeem your purchase seamlessly at your selected location! It’s that easy. Save time and money with hassle-free
        parking.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>