<app-header (menuSelected)="onNavigate($event)"></app-header>
<div class="col-md-12">
  <app-login-page *ngIf="loadedMenu==='Login'"></app-login-page>
  <app-registration-page *ngIf="loadedMenu==='Register'"></app-registration-page>
</div>
<div class="container-fluid" style="background-color: gray;height: 400px; margin-top: 5px;">
  <div class="row">
    <!-- <img src="assets/imges/parkinggarage.jpg" alt="img not found" sizes="" srcset=""> -->
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <app-search-bar *ngIf="loadedMenu!=='Login' && loadedMenu!=='Register'" (getAddress)="onsearch($event)">
      </app-search-bar>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="searchresult">
        <app-parking-option *ngIf="searchInput" [addressIs]="searchResult">
        </app-parking-option>
      </div>
    </div>
    <div class="col-md-12">
      <app-city-service *ngIf="loadedMenu!=='Login' && loadedMenu!=='Register' &&!searchresult">
      </app-city-service>
    </div>
  </div>
</div>
<div class="container-fluid" style="margin-top: 5px">
  <div class="row">
    <app-static-data *ngIf="loadedMenu!=='Login' && loadedMenu!=='Register' &&!searchresult">
    </app-static-data>
  </div>
</div>
<app-footer *ngIf="loadedMenu!=='Login' && loadedMenu!=='Register'"></app-footer>