a.morecity {
    font-family: Poppins-Regular;
    font-size: 25px;
    border:1px solid #c3c3c3;
    color: #cc3b3b;
    margin-left: 45%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a.morecity:focus {
    outline: none !important;
}

a.morecity:hover {
    text-decoration: none;
  color: blue;
}